*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    

}
#prt{
    background-image: url(home-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 114vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.container-one :first-child{
    color: white;
    font-size: large;
    text-align: center;
    font-family: system-ui;
    margin: 20px;
}
.container-one :nth-child(2){
    color: #d43f52;
    border: #d43f52 solid;
    width: 237px;
    height: 60px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container-one :nth-child(3){
    color: white;
    font-size: large;
    font-family: sans-serif;
    margin: 20px;
}
.container-one :nth-child(4){
    color: #c1c1c19c;
    font-size: small;
    font-family: monospace;
    margin: 20px;
}
.container-one :last-child{
    color: white;
    border: white solid;
    width: 138px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
#what-ido{
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    height: 55vh;
    Align-items: center;
    justify-content: center;
}

h1{
    color: white;
    text-align: center;
    margin: 45px;
    font-size: x-large;
    font-family: sans-serif;
}
.mobile{
    display: flex;
    align-items: center;
    margin: 25px;
}
.tow{
    width: 65px;
    height: 50px;
}
.one :first-child{
    color: white;
    font-size: medium;
    font-family: sans-serif;
}
.one :last-child{
    color: #8080808a;
    font-size: medium;
    font-family: monospace;

}
#about-me{
    height: 40vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.three{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.three :first-child{
    color: white;
    font-size: larger;
    font-family: sans-serif;
    margin: 10px;
}
.three :nth-child(2){
    color: #d43f52;
    font-size: small;
    font-family: system-ui;
    margin: 6px;
}
.prg{
    color: #ffffff8c;
    margin: 12px;
    font-size: smaller;
    font-family: sans-serif;
    margin: 12px;
}
.Design{
    display: flex;
    flex-direction: row;
    margin: 14px
}
h5{
    color: white;
    font-size: medium;
    font-family: sans-serif;
}
.Design :last-child{
    color: white;
    font-size: small;
    font-family: sans-serif;
    position: relative;
    left: 290px;
}
.barre-one{
    background-color: white;
    width: 430px;
    height: 3px;
    margin: 10px;
    border-radius: 40px;
}
.barre-tow{
    background-color: #d43f52;
    width: 384px;
    height: 3px;
    border-radius: 20px 0px 0px 20px;
}
.barre-three{
    background-color: #d43f52;
    width: 341px;
    height: 3px;
    border-radius: 20px 0px 0px 20px;
}
.barre-four{
    background-color: #d43f52;
    width: 320px;
    height: 3px;
    border-radius: 20px 0px 0px 20px;
}
.barre-five{
    background-color: #d43f52;
    width: 378px;
    height: 4px;
    border-radius: 20px 0px 0px 20px;

}
#portfolio{
    background-color: #1a1a1a;
    height: 85vh;
}
.image{
    display: grid;
    grid-template-columns: repeat(4, 160px);
    grid-template-rows: repeat(2, 211px);
    justify-items: start;
    justify-content: center;
    gap: 11px;
}
.image-one{
    width: 325px;
    height: 200px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
   
}
.image-tow{
    width: 325px;
    height: 200px;
    display: flex;
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}
.image-three{
    width: 325px;
    height: 200px;
    display: flex;
    grid-row: 1 / 2;
    grid-column: 5 / 6;

}
.image-four{
    width: 506px;
    height: 205px;
    display: flex;
    grid-row: 2 / 3;
    grid-column: 4 / 6;
   
}
.image-five{
    width: 490px;
    height: 205px;
    display: flex;
    grid-row: 2 / 3;
    grid-column: 1 / 4;

}
#portfolio h1{
    font-size: xx-large;
    font-family: sans-serif;
    margin: 1O2px;
}
#contact-me{
 background-color: #000000;   
 height: 100vh;
;
}
.tele{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 20px;
    margin: 20px;
}
.num p{
    color: #ffffff69;
    font-size: large;
    font-family: sans-serif;
    font-style: oblique;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 46px
}
.name{
    padding: 7px;
    margin: 14px;
    width: 390px;
    height: 38px;
    background-color: #0000;
    color: #ffffff70;
    border: solid 2px #ffffff54;
}
.msg{
    padding: 7px;
    margin: 14px;
    width: 390px;
    height: 116px;
    background-color: #0000;
    color: #ffffff70;
    border: solid 2px #ffffff54;
}
.but{
    background-color: #d43f52;
    margin: 14px;
    width: 390px;
    height: 50px;
    color: white;
    font-family: system-ui;
    font-size: medium;
}
.social{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
}
.social p{
    color: #ffffff59;
    margin: 22px;
    font-size: medium;
    font-family: sans-serif;
}
hr{
    width: 110px;
    height: 9px;
    background-color: #ffffff1f;
    border: solid
}
.reseaux-sociaux{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.instg{
    margin: 10px;
    width: 20px;
    height: 20px;
}
.mobile-one{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.about{
    display: flex;
    flex-direction: row;
}
.page{
    display: flex;
    justify-content: center;
    margin: 50px;

}
.page-one{
    margin: -18px;
}
@media only screen and (max-width: 800px){
    .mobile-one{
        flex-wrap: wrap;
    }
    .three{
        flex-wrap: wrap;
    }
    .image{
        display: grid;
        grid-template-columns: repeat(2, 210px);
        grid-template-rows: repeat(3, 210px);
        
    }
    .image-one{
    width: 200px;
    height: 170px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    }
   .image-tow{
    width: 200px;
    height: 170px;
    display: flex;
    grid-row: 1 / 2;
    grid-column: 2 / 3;

   }
   .image-three{
    
    width: 200px;
    height: 170px;
    display: flex;
    grid-row: 2 / 3;
    grid-column: 1 / 3;

   }
   .image-four{
    width: 200px;
    height: 170px;
    display: flex;
    grid-row: 2 / 3;
    grid-column: 2 / 3;

   }
   .image-five{
    width: 200px;
    height: 170px;
    display: flex;
    grid-row: 3 / 4;
    grid-column: 1 / 2;

   }
   #portfolio{
    height: 100vh;
}
.page{
    flex-wrap: wrap;
}
.about{
    flex-wrap: wrap;
}
#contact-me {
    height: 130vh;
}
#about-me{
height: 90vh;
}
}

    